<template>
  <div class="day" :class="theme">
    <!-- <div>{{formatDate}}</div> -->
    <div class="icon">
      <i class="fal" v-if="thisDay.reward" :class="thisDay.reward" />
      <span v-else>&middot;</span>
    </div>
  </div>
</template>
<script>
import dateFns from 'date-fns';

export default {
  name: 'day',
  props: [
    'thisDay',
  ],
  data() {
    return {
      delay: 700,
      clicks: 0,
      timer: null,
    };
  },
  computed: {
    formatDate() {
      return dateFns.format(this.thisDay.day, 'MMMM Do');
    },
    theme() {
      // If 'reward' exists or it's today, apply theme
      return (this.thisDay.reward !== '' || dateFns.isToday(this.thisDay.day) ? this.thisDay.theme : '');
    },
  },
  methods: {
    goToSettings() {
      this.$router.push('/settings');
    },
    // Double click method to route to settings
    // https://jsfiddle.net/kjtkzgvp/1/
    oneClick() {
      this.clicks += 1;
      if (this.clicks === 1) {
        this.timer = setTimeout(() => {
          this.clicks = 0;
        }, this.delay);
      } else {
        clearTimeout(this.timer);
        this.clicks = 0;
        this.$router.push('/settings');
      }
    },
  },
};
</script>
<style lang="scss">

.day {
  flex: 0 0 92.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
  box-sizing: border-box;

  transform: translate3d(92.5vw, 0, 0);


  --theme-text: #DDD;
  --theme-primary: #DDD;
  --theme-high: #FAFAFA;
  --theme-low: #FAFAFA;
  --theme-dark: #FAFAFA;

  color: var(--theme-text);
  box-shadow: inset 0 0 10rem var(--theme-dark);
  text-shadow: 0 -.075rem 0rem var(--theme-dark);
  border-left: .1rem solid var(--theme-hard);
  border-right: .1rem solid var(--theme-primary);
  background: linear-gradient(-185deg, var(--theme-high), var(--theme-low));

}


.dayDone .day {
  animation: 3.5s 6s reveal forwards;
}

@keyframes reveal {
  from {
    transform: translate3d(92.5vw, 0, 0);
  }
  to {
    transform: translate3d(0vw, 0, 0);
  }
}

// Finish button
.fin {
  display: block;
  width: calc(100% - 4rem);
  font-size: 2.5rem;
  background: none;
  color: white;
  font-weight: 600;
  padding: .5rem;
  margin: 0 2rem;
  border: .1rem solid var(--theme-low);
  border-radius: .2rem;
  user-select: none;
  pointer-events: none;


  &:hover,
  &:focus,
  &:active {
    transition: .1s all;
  }

  &.enabled {
    position: relative;
    opacity: 1;
    border: .1rem solid var(--theme-text);
    transform: translateY(-.05rem);
    box-shadow: 0 .25rem .5rem var(--theme-dark), 0 -.25rem .5rem var(--theme-high);
    pointer-events: auto;
    transition: .1s all ease-in;
  }

  &.enabled:active {
    position: relative;
    opacity: 1;
    border: .1rem solid var(--theme-text);
    transform: translateY(.05rem);
    box-shadow: 0 -.15rem .5rem var(--theme-dark), 0 .15rem .5rem var(--theme-high);
    transition: .1s all cubic-bezier(.15,.85,.15,.85);
  }

  &.disabled {
    opacity: 0.25;
    border: .1rem solid var(--theme-text);
    box-shadow: 0 0 0 var(--theme-dark), 0 0 0 var(--theme-high);
    transition: .8s all ease-out;
  }
}


</style>

