<template>
  <div>
    <div class="timeline">
      <today
        v-for="(day, index) in timeline"
        :thisDay="day"
        :key="index" 
        :tasks="tasks" 
        :rewards="rewards" />
    </div>


  </div>
</template>

<script>

// import dateFns from 'date-fns';

import rewards from '@/common/rewards';
import themes from '@/common/themes';

import today from './Today';

export default {
  name: 'debug',
  data() {
    return {
      rewards,
      tasks: [
        { name: '🤔🦑🍺🎲💊💣', done: true },
        { name: 'Take over the world', done: true },
        { name: 'Eat dinner', done: false },
        // { name: 'Read', done: true },
        // { name: 'Meditate', done: true },
        // { name: 'Release HL3', done: true },
      ],
      timeline: [],
    };
  },
  created() {
    Object.entries(themes).forEach((theme) => {
      this.timeline.unshift({
        // day: todayDate,
        theme,
        reward: this.giftReward(),
      });
    });
    // Need to add an extra day due to how tomorrow shifting works normally
    this.timeline.unshift({
      theme: '',
      reward: this.giftReward(),
    });
  },
  methods: {
    giftReward() {
      // Generates a random reward for today
      return rewards[Math.floor(Math.random() * rewards.length)];
    },
  },
  components: {
    today,
  },
};
</script>

<style lang="scss" scoped>
.timeline {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}
</style>

