<template>
  <div class="first day">
    <h1>finir</h1>
    <p>
      Add tasks that you want to finish daily.
    </p>
    <p>
      Double tap today's date to update tasks.
    </p>

    <button 
      class="fin enabled" 
      @click="goToSettings">
      BEGIN
    </button>
  </div>
</template>

<script>

import day from './Day';

export default {
  name: 'first',
  extends: day,
};
</script>

<style lang="scss" scoped>
.first {
  color: black;
  flex: 0 0 100vw;
  transform: none;
}

h1 {
  letter-spacing: -.4rem;
  margin: 0 0 2rem 0;
}

p {
  font-size: 1.8rem;
  margin: 0 1rem 2rem 1rem;
}

p:last-of-type {
  margin-bottom: 4rem;
}

.fin {
  color: black;
  border-color: black;
  box-shadow: 0 0.25rem 0.5rem #777, 0 -0.25rem 0.5rem #CCC;

  &.enabled:active {
    border-color: #111;
    box-shadow: 0 -.15rem .5rem #777, 0 .15rem .5rem #CCC;
  }
}

</style>

