<template>
  <div class="rewards">
    <div v-for="icon in rewards" :key="icon">
      <i class="fal" :class="icon"></i>
      {{ icon }}
    </div>
  </div>
</template>

<script>

import rewards from '@/common/rewards';

export default {
  name: 'rewards',
  data() {
    return {
      rewards,
    };
  },
};
</script>

<style lang="scss" scoped>
.rewards {
  font-size: 200%;
  padding: .5rem;
}

.fal {
  text-align: center;
  width: 3rem;
}
</style>

