<template>
  <div class="settings">

    <h1>
      <span>
        Settings
      </span>
      <button @click="back">
        <i class="fal fa-chevron-left"></i>
        Go Back
      </button>
    </h1>
    <!-- Tasks -->
    <h2>Tasks</h2>
    <div class="task" v-for="(task, index) in tasks" :key="index">
      <input type="text" v-model="task.name" placeholder="Task">
      <button @click="removeTask(index)">×</button>
    </div>
    <br>
    <button @click="addTask">
      <i class="fal fa-plus"></i>
      Add Task
    </button>

    <hr>

    <!-- Reset Cache -->
    <h2>Reset</h2>
    <p>
      Clear your daily finishes or tasks.
      This might be entirely ok.
    </p>
    <button @click="clearDays">
      <i class="fal fa-bomb"></i>
      Clear Days
    </button>
    <br>
    <br>
    <button @click="clearTasks">
      <i class="fal fa-trash-alt"></i>
      Clear Tasks
    </button>
    
    <br><br>
    <h2>Extra</h2>
    <a href="mailto:abattenb@gmail.com?Subject=finir" target="_top">
      <i class="fal fa-envelope"></i>
      abattenb@gmail.com
    </a>
    <br>

    <router-link to="debug">
      <i class="fal fa-bug"></i>
      Debug
    </router-link>
    <br><br>

  </div>
</template>

<script>
/* eslint-disable no-console */

export default {
  name: 'settings',
  data() {
    return {
      tasks: [{ name: '', done: false }],
    };
  },
  created() {
    this.tasks = JSON.parse(localStorage.getItem('tasks'));
    if (!this.tasks) this.resetTasks();
  },
  watch: {
    tasks: {
      handler() {
        this.saveTasks();
      },
      deep: true,
    },
  },
  methods: {
    clearDays() {
      localStorage.removeItem('savedTimeline');
      localStorage.removeItem('updated');
    },
    clearTasks() {
      localStorage.removeItem('tasks');
      this.resetTasks();
    },
    back() {
      this.$router.push('/');
    },
    resetTasks() {
      this.tasks = [];
      this.tasks = [{ name: '', done: false }];
    },
    saveTasks() {
      localStorage.setItem('tasks', JSON.stringify(this.tasks));
    },
    addTask() {
      this.tasks.push({ name: '', done: false });
    },
    removeTask(index) {
      console.log(index);
      this.tasks.splice(index, 1);
    },
  },
};
</script>

<style lang="scss" scoped>

.settings {
  padding: .25rem 1rem;
  background: #222;
  color: white;
  height: 100vh;
  overflow-y: auto;

}

h1 {
  display: flex;
  font-size: 2.2rem;
  line-height: 1.15;

  span {
    flex: 1;
    border-bottom: .1rem solid white;
  }
}

h2 {
  font-size: 1.85rem;
}

hr {
  margin: 3rem auto 2rem auto;
  width: 15vw;
  height: .1rem;
  background: white;
  border: none;
}

button {
  background: transparent;
  border: .1rem solid white;
  color: white;
  font-size: 1.5rem;
  padding: .5rem 1rem;

  .fal {
    margin-right: .5rem;
  }
}

input {
  flex: 1;
  background: transparent;
  border: none;
  border-bottom: .1rem solid white;
  color: white;
  font-size: 1.25rem;
  padding: .5rem 1rem;

}

.task {
  display: flex;

}

</style>
