<template>
  <div class="day tomorrow"  :class="theme">
    <div @click="oneClick($event)">
      Tomorrow<br>
      brings&hellip;
      <br>
      <br>
    </div>
  </div>
</template>
<script>
import day from './Day';

export default {
  name: 'tomorrow',
  extends: day,
  computed: {
    theme() {
      // Auto applies tomorrows theme
      return this.thisDay.theme;
    },
  },
};
</script>
<style lang="scss">

.tomorrow > div{
  font-family: 'Mr Dafoe', cursive;
  transform: rotate(-8deg) skew(-5deg);
  font-size: 4rem;
  line-height: 1;
  font-weight: 100;
}

</style>

