// finir
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,600|Mr+Dafoe');

@import './themes.scss';
@import './fontawesome.css';


html {
  background: #fafafa;
  font-family: 'Fira Sans', sans-serif;
}

body {
  margin: 0;
}

a,
button,
.button {
  cursor: pointer;
  color: white;
}

.day .icon > * {
  font-size: 7rem;
  transform: translate3d(0, -1.15rem, 0);
  padding-top: .25rem;
}
