// New themes need to be added to `themes.js`

.day {
  &.starburst {
    --theme-text: hsla(1, 83%, 100%, 1);
    --theme-high: hsla(41, 83%, 70%, 1);
    --theme-primary: hsla(1, 83%, 62%, 1);
    --theme-low: hsl(340, 82%, 56%);
    --theme-dark: hsla(350, 83%, 44%, 1);
  }
  &.genepersimmons {
    --theme-text: hsla(1, 83%, 100%, 1);
    --theme-high: hsla(64, 100%, 70%, 1);
    --theme-primary: hsla(24, 100%, 63%, 1);
    --theme-low: hsla(4, 100%, 56%, 1);
    --theme-dark: hsla(14, 100%, 44%, 1);
  }
  &.gloriousincandescence {
    --theme-text: hsla(1, 83%, 100%, 1);
    --theme-high: hsla(115, 100%,60%, 1); 
    --theme-primary: hsla(60, 90%, 55%, 1);
    --theme-low: hsla(45, 100%, 50%, 1);
    --theme-dark: hsla(50, 100%, 40%, 1);
  }
  &.limelife {
    --theme-text: hsla(1, 83%, 100%, 1);
    --theme-high: hsla(170, 100%, 75%, 1);
    --theme-primary: hsla(100, 100%, 65%, 1);
    --theme-low: hsla(80, 100%, 60%, 1);
    --theme-dark: hsla(75, 80%, 30%, 1);
  }
  &.seadrink {
    --theme-text: hsla(1, 83%, 100%, 1);
    --theme-high: hsla(220, 100%, 70%, 1);
    --theme-primary: hsla(160, 90%, 45%, 1);
    --theme-low: hsla(140, 100%, 56%, 1);
    --theme-dark: hsla(150, 100%, 30%, 1);
  }
  &.barbiegirl {
    --theme-text: hsla(1, 83%, 100%, 1);
    --theme-high: hsla(250, 100%, 70%, 1);
    --theme-primary: hsla(200, 90%, 65%, 1);
    --theme-low: hsla(170, 90%, 45%, 1);
    --theme-dark: hsla(180, 100%, 20%, 1);
  }
  &.spiltblues {
    --theme-text: hsla(1, 83%, 100%, 1);
    --theme-high: hsla(280, 100%, 80%, 1);
    --theme-primary: hsla(240, 90%, 65%, 1);
    --theme-low: hsla(210, 90%, 50%, 1);
    --theme-dark: hsla(223, 90%, 40%, 1);
  }
  &.megaviolet {
    --theme-text: hsla(1, 83%, 100%, 1);
    --theme-high: hsla(300, 100%, 65%, 1);
    --theme-primary: hsla(270, 100%, 60%, 1);
    --theme-low: hsla(260, 100%, 56%, 1);
    --theme-dark: hsla(260, 100%, 44%, 1);
  }
}

// .day {
//   &.starburst {
//     --theme-text: hsla(1, 83%, 100%, 1);
//     --theme-high: hsla(11, 83%, 70%, 1);
//     --theme-primary: hsla(1, 83%, 62%, 1);
//     --theme-low: hsl(340, 82%, 56%);
//     --theme-dark: hsla(350, 83%, 44%, 1);
//   }
//   &.genepersimmons {
//     --theme-text: hsla(1, 83%, 100%, 1);
//     --theme-high: hsla(34, 100%, 70%, 1);
//     --theme-primary: hsla(24, 100%, 63%, 1);
//     --theme-low: hsla(4, 100%, 56%, 1);
//     --theme-dark: hsla(14, 100%, 44%, 1);
//   }
//   &.gloriousincandescence {
//     --theme-text: hsla(1, 83%, 100%, 1);
//     --theme-high: hsla(65, 100%,60%, 1); 
//     --theme-primary: hsla(60, 90%, 55%, 1);
//     --theme-low: hsla(45, 100%, 50%, 1);
//     --theme-dark: hsla(50, 100%, 40%, 1);
//   }
//   &.limelife {
//     --theme-text: hsla(1, 83%, 100%, 1);
//     --theme-high: hsla(110, 100%, 75%, 1);
//     --theme-primary: hsla(100, 100%, 65%, 1);
//     --theme-low: hsla(80, 100%, 60%, 1);
//     --theme-dark: hsla(75, 80%, 30%, 1);
//   }
//   &.seadrink {
//     --theme-text: hsla(1, 83%, 100%, 1);
//     --theme-high: hsla(180, 100%, 70%, 1);
//     --theme-primary: hsla(160, 90%, 45%, 1);
//     --theme-low: hsla(140, 100%, 56%, 1);
//     --theme-dark: hsla(150, 100%, 30%, 1);
//   }
//   &.barbiegirl {
//     --theme-text: hsla(1, 83%, 100%, 1);
//     --theme-high: hsla(210, 100%, 70%, 1);
//     --theme-primary: hsla(200, 90%, 65%, 1);
//     --theme-low: hsla(170, 90%, 45%, 1);
//     --theme-dark: hsla(180, 100%, 20%, 1);
//   }
//   &.spiltblues {
//     --theme-text: hsla(1, 83%, 100%, 1);
//     --theme-high: hsla(250, 100%, 80%, 1);
//     --theme-primary: hsla(240, 90%, 65%, 1);
//     --theme-low: hsla(210, 90%, 50%, 1);
//     --theme-dark: hsla(223, 90%, 40%, 1);
//   }
//   &.megaviolet {
//     --theme-text: hsla(1, 83%, 100%, 1);
//     --theme-high: hsla(280, 100%, 65%, 1);
//     --theme-primary: hsla(270, 100%, 60%, 1);
//     --theme-low: hsla(260, 100%, 56%, 1);
//     --theme-dark: hsla(260, 100%, 44%, 1);
//   }
// }
